<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      html, body { 
        font-family: sans-serif; 
        min-height: 100%;
        background: rebeccapurple; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
      }
      .book-card {
        color: black;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.3em;
        background: white;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
      }
      .book-card > img {
        width: 100%;
        max-width: 10em;
        margin: auto;
      }
      footer {
        margin-top: 1em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>WBooks</h1>
      <p>Esta es una notificación de WBooks.</p>
      <p>Se ha registrado un alquiler del siguiente libro:</p>
    </header>
    <section>
      <content>
        <div class="book-card">
          <img src="<%= @book.image %>" alt="Tapa de <%= @book.name %>" >
          <div class="center">
            <h2><%= @book.title %></h2>
            <div><%= @book.author %></div>
            <div><%= @book.genre %></div>
            <div>Publicado por <%= @book.publisher %> en <%= @book.year  %> </div>
          </div>
        </div>
        <p>La renta ha sido registrada el <%= @rent.created_at.strftime('%d/%m/%Y %H:%M') %>.</p>
        <p>El periodo de alquiler comienza el <%= @rent.from.strftime('%d/%m/%Y') %> y finaliza el <%= @rent.to.strftime('%d/%m/%Y') %>.</p>
        <p>Gracias por utilizar WBooks, ¡Disfrute su lectura!</p>
        <footer>
          <p>Por favor, no responda a este correo.</p>
        </footer>
      </content>
    </section>
  </body>
</html>